*{
	margin: 0;
	padding: 0;
}

body{
   overflow-x: hidden;
}

h1{
	font-family: cursiva;
	padding: 30px 0px 0px 0px;
	text-align: center;
}

main{
	padding-bottom: 5%;
}
.linea1{
	border-top: 5px ridge #f5b7b1;
	padding-top: 20px;
}

.formulario{
	background:   #f5b7b1; 
	padding: 25px;
	margin-left: 0px;
	margin-right: 0px;
	   }
.parrafo1{
	text-align: justify;
	padding: 0px 20px 0px 20px;
	margin: 0px;
}

h6{
	text-align: center;
	
}

.nombre{
	padding-left: 20px;
	padding-right: 20px;
}
.subtitulo{
	text-transform: uppercase;
}

.imgfinal{
	width: 10%;
	max-height: 10%;
	min-height: 10%;
}

header{
  background: #000;
}

.imagencarrusel{
	max-width: 400px;
	max-height: 400px;
	min-height: 400px;
	margin: 0px;

}
.small-1{
 margin-top: 8%;
}
.small{
	text-align: justify;

}
aside{
	border-bottom: 5px ridge #f5b7b1;
	margin-top: 2%;
	padding-bottom: 5%;

}
.imgmujeres{
	min-width: 15em;
	max-width: 15em;
	min-height: 20em;
	max-height: 20em;
	padding: 2%;

}

footer div ul{
	list-style-type: none;
}
footer div ul li{
	padding-left: 10px;
	  }
.icon{
	background: white;
	color: #808080;;
	font-size: 15px;
}


footer div ul li:hover a{
	background: #f5b7b1;
	color: #000;
  }
  .corporation{
  	font-size: 15px;
  }
 .list1 li:hover .item1{
 	color: #000;
 	background: #f5b7b1;
  }
  .list2 li:hover .item2{
 	color: #000;
 	background: #f5b7b1;
  }

 .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border: 2px solid black;
  background: #000;
}
.carrusel-caption p{
margin-bottom: 0px;
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 10;
padding-top: 2%;
padding-bottom: 2%;
color: #000;
text-align: center;
background: rgba(251, 252, 252, 0.7);
font-size: 12px;
}
